@inherits LayoutComponentBase
@inject SingletonServices singleton
@inject NavigationManager NavigationManager

<PageTitle>DocumentFlow</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <nav class="navbar navbar-dark" style="background-color: #3d008f;">
            <div class="container-fluid d-flex justify-content-end">
                <a class="navbar-brand" @onclick="@NavAccountOrLogon" style="cursor: pointer">
                    @if (@singleton.user != null)
                    {
                        @singleton.user.Name
                    }

                    else
                    {
                        <span>Guest </span>
                    }
                    <img src="img/User.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                 </a>
                 @if (@singleton.user != null)
                 {
                    <img src="img/Exit.png" alt="" width="30" height="24" class="d-inline-block align-text-top" @onclick="Exit" style="cursor: pointer">
                 }
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    void Exit()
    {
        singleton.user = null;
        singleton.LogIn = false;
        NavigationManager.NavigateTo("/", true);
    }

    void NavAccountOrLogon()
    {
        if (singleton.LogIn) NavigationManager.NavigateTo("/account");
        else NavigationManager.NavigateTo("/");
    }
}
